<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memes</title>
</head>
<body>
    <center>
        <h1>MEME TO MAKE YOU LAUGH</h1>
        <div>
            <p>Here is a meme! It will refresh in 30 seconds!</p>
            <p><img src="{{meme_pic}}" alt="meme_pic"></p>
            <p>Current Subreddit:{{subreddit}}</p>
        </div>


    </center>
    </body>
</html>